.cmap {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: gutter(3);

    @include mediaTo(md) {
      grid-template-columns: 1fr;
    }
  }

  &__map {
    width: 100%;
    height: gutter(60);
    position: relative;
  }

  &__info {
    display: block;
    background-color: $special;
    width: 500px;
    padding: gutter(3) gutter(3);
    //grid-column-start: 3;
    box-shadow: 0 gutter(0.6) gutter(1.2) rgba($dark, 0.6);

    @include mediaTo(md) {
      grid-column-start: auto;
    }
  }

  &__title {
    @extend %special;

    color: $light;
    text-transform: uppercase;
  }

  &__content {
    @extend .text;

    color: $light;

    a {
      &:hover {
        opacity: 0.6;
      }
    }
  }

  h4 {
    @extend .major-text;

    margin-top: gutter(2.4);
    font-weight: 800;
  }
}
