.contact {
  &__wrapper {
    display: grid;
    grid-template-columns: 7fr 1fr 4fr;
    gap: gutter(3);

    @include mediaTo(md) {
      grid-template-columns: 1fr;
    }
  }

  &__form {
    .wpforms-field-container {
      grid-template-columns: 1fr 1fr;
      display: grid;
      gap: gutter(1.4);

      @include mediaTo(md) {
        grid-template-columns: 1fr;
      }

      :focus {
        outline: 2px solid $special !important;
      }
    }

    form {
      br {
        display: none;
      }

      span {
        width: 100%;
        display: block;
      }

      input,
      textarea {
        @extend .text;

        font-family: "Open Sans", sans-serif !important;
        width: 100% !important;
        max-width: 100% !important;
        padding: gutter(3) gutter(3) !important;
        border: 0 !important;
        background-color: $light !important;
        box-shadow: 0 gutter(0.6) gutter(1.2) rgba($dark, 0.1) !important;
      }

      textarea {
        height: gutter(20) !important;
      }

      .contact__email,
      .contact__messeage,
      .contact__checkbox {
        grid-column: span 2 !important;

        @include mediaTo(md) {
          grid-column: auto !important;
        }
      }

      .contact__checkbox {
        input {
          width: auto !important;
        }
      }

      button {
        @extend .small-title;

        padding: gutter(2) gutter(3.2) !important;
        position: relative !important;
        color: $light !important;
        border: gutter(0.1) solid transparent !important;
        cursor: pointer !important;
        transition: $transition ease-in !important;
        display: inline-block !important;
        font-weight: 700 !important;
        text-transform: uppercase !important;
        letter-spacing: 0 !important;
        background-color: $special !important;

        &::before {
          @extend %absolute;

          content: url("../images/arrow-red.svg");
          right: unset !important;
          left: gutter(0.2) !important;
          top: gutter(0.2) !important;
          display: flex !important;
          justify-self: center !important;
          align-items: center !important;
          transform: scale(0.8) !important;
          opacity: 0 !important;
          transition: $transition ease-in !important;
        }

        &:hover {
          background-color: $light !important;
          color: $special !important;
          border: 1px solid $special !important;
          padding-left: gutter(3.8) !important;
          padding-right: gutter(2.6) !important;

          &::before {
            opacity: 1 !important;
            left: gutter(0.8) !important;
          }
        }

        @include mediaTo(sm) {
          width: 100%;
        }
      }

      label {
        @extend .minor-text;

        padding: gutter(1) 0;
        padding-left: gutter(3);
        line-height: gutter(2.4);
        user-select: none;
      }
    }
  }

  &__info {
    display: block;
    background-color: $special;
    padding: gutter(3) gutter(3);
    grid-column-start: 3;
    box-shadow: 0 gutter(0.6) gutter(1.2) rgba($dark, 0.6);

    @include mediaTo(md) {
      grid-column-start: auto;
    }
  }

  &__title {
    @extend %special;

    color: $light;
    text-transform: uppercase;
  }

  &__content {
    @extend .text;

    color: $light;

    a {
      &:hover {
        opacity: 0.6;
      }
    }
  }

  h4 {
    @extend .major-text;

    margin-top: gutter(2.4);
    font-weight: 800;
  }
}
