.footer {
  background-color: $dark;
  color: rgba($light, 0.8);
  display: flex;
  flex-wrap: wrap;

  &__logo {
    background-color: $light;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mediaTo("lg") {
      display: none;
    }

    img {
      height: gutter(15);
      width: auto;
    }
  }

  &__content {
    padding: gutter(4) gutter(10) gutter(5);
    width: 75%;

    @include mediaTo("lg") {
      width: 100%;
    }

    @include mediaTo("md") {
      padding: gutter(5) gutter(3);
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    @include mediaTo("md") {
      text-align: center;
      justify-content: center;
    }

    &--bottom {
      align-items: center;
      margin-top: gutter(5);

      @include mediaTo("lg") {
        margin-top: gutter(3);
      }
    }
  }

  &__col {
    @extend .text;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: 500;
    line-height: 1.1;
  }

  &__nav {
    list-style-type: none;

    @include mediaTo("md") {
      display: none;
    }

    li {
      margin: gutter(0.25) 0;
    }
  }

  &__maintitle {
    @extend .subtitle;

    color: $light;
    font-weight: 500;
    margin-bottom: gutter(6);
  }

  &__title {
    @extend .major-text;

    color: $light;
    font-weight: 600;
    margin-bottom: gutter(2);
  }

  &__link {
    color: rgba($light, 0.8);

    &:hover {
      color: $special;
    }
  }

  &__icon {
    margin: gutter(2);
  }

  &__block {
    margin-bottom: gutter(3);
  }

  &__copyright {
    @extend .small-title;

    opacity: 0.3;

    @include mediaTo("lg") {
      margin-bottom: gutter(3);
      width: 100%;
    }
  }
}
