.tabs {
  .container {
    @include mediaTo(sm) {
      padding: 0;
    }
  }

  &__header {
    @include cssLock(
      "margin-bottom",
      360,
      1920,
      (gutter_num(3), gutter_num(6))
    );

    display: flex;
    justify-content: center;
  }

  &__nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  &__button {
    @extend .small-title;
    @extend %special;

    margin: 0 gutter(0.2);

    @include mediaTo(md) {
      @include cssLock(
        "padding-top",
        360,
        1920,
        (gutter_num(1), gutter_num(3))
      );
      @include cssLock(
        "padding-bottom",
        360,
        1920,
        (gutter_num(1), gutter_num(3))
      );
      @include cssLock(
        "padding-left",
        360,
        1920,
        (gutter_num(0.5), gutter_num(3))
      );
      @include cssLock(
        "padding-right",
        360,
        1920,
        (gutter_num(0.5), gutter_num(3))
      );
    }

    @include mediaTo(sm) {
      margin: 0;
    }
    // background: none;
    // border: 0;
    // border-bottom: gutter(0.2) solid;
    // text-transform: uppercase;
    // padding: gutter(1.5);
    // color: $gray;
    // cursor: pointer;
    // outline: 0 !important;

    &:hover {
      color: $special;
      opacity: 0.9;
    }

    &.-is-active {
      color: $special;
      background-color: $light;
      border: 1px solid #e30613;
    }
  }

  &__content-wrapper {
    width: 100%;
    min-height: gutter(50);

    @include mediaTo(md) {
      min-height: gutter(70);
    }
  }

  &__content {
    position: absolute;
    visibility: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    opacity: 0;
    //height: 100%;
    gap: gutter(2);
    transition: $transition ease-out;

    @include mediaTo(xl) {
      justify-items: center;
      grid-template-columns: 1fr;
    }

    @include mediaTo(sm) {
      @include cssLock("padding", 360, 1920, (gutter_num(3), gutter_num(6)));

      width: 100vw;
      height: unset;
    }

    &.-is-active {
      visibility: visible;
      display: grid;
      grid-template-columns: 1fr 1fr;
      opacity: 1;
      z-index: 1;
      transition: $transition * 4 ease-out;

      @include mediaTo(xl) {
        justify-items: center;
        grid-template-columns: 1fr;
      }
    }
  }

  &__title {
    @extend %bar;

    display: flex;
    align-items: center;
    white-space: nowrap;

    @include cssLock(
      "margin-bottom",
      360,
      1920,
      (gutter_num(1.6), gutter_num(3.2))
    );

    color: $special-dark;
    text-transform: uppercase;
    font-weight: 800;

    @include mediaTo(sm) {
      white-space: normal;
    }
  }

  &__text {
    @include cssLock(
      "margin-bottom",
      360,
      1920,
      (gutter_num(2.4), gutter_num(3.2))
    );

    font-weight: 500;
  }

  &__wrapimg {
    @include cssLock("width", 360, 1920, (gutter_num(30), gutter_num(80)));
    @include cssLock("height", 360, 1920, (gutter_num(30), gutter_num(60)));

    @include mediaTo(md) {
      width: 100%;
    }
  }

  &__img {
    @extend %image;

    object-fit: cover;

    // @include mediaTo(md) {
    //   max-height: gutter(20);
    //   margin-bottom: gutter(3);
    // }
  }

  .flickity-viewport {
    transition: height $transition ease-out;
  }

  .flickity-page-dots {
    .dot {
      background-color: $dark;
    }
  }
}
